.header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  background-color: white;
  color: grey;
  border-radius: 30px;
  padding: 0 10px;
  flex: 0.5;
  display: flex;
  align-items: center;
  min-width: 70px;
}

.header__left > input {
  border: none;
  width: 100%;
  margin-left: 5px;
}

.header__left > input:focus {
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}
